.rodape {
    background-color: #ffffff;
    text-align: center;
}

/*
max-width: 100%; deixa a imagem 100% ocupando a pagina, independente se estiver maximizada ou mini
*/
.rodape img{
    max-width: 100%; 
}